html, body, #root {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.flexed-column {
    display: flex !important;
    flex-direction: column !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 100% !important;
    position: relative !important;
}
